#character {
    @media (max-width:768px){
        max-height: 75vh;
    }
    @media (max-width:1023px) and (min-width:769px){
        margin-bottom: 0;
        max-height: 65vh;
    }

    
}
.carousel-inner {
    @media (max-width:768px){
        width: 70% !important;

       
    }
    
   
}